.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a.action:hover {
    color: black;
    transition: 0.3s

  }

a.action::before {
    content: "";
    background-color: #EA6074;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}