.banner {
    background-image: url(../../assets/img/banner.png);
    height: 748px; 
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px ;
    border-bottom: 10px #000 solid;
    padding-top: 115px;
    padding-left: 50px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .box {
    margin-bottom: 40px;

}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}