.main-title {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: #EA6074;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
        color: white;
        font-size: 40px;
        text-shadow: none;
}