.main-skill {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: #FFF;
}

.main-skill .icon {
    margin-right: 25px;
    width: 90px;
}

.main-skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-skill .title {
    margin-bottom: 10px;
}